# This will host our MYSQL variables and connection points. 
# MySQL container config
MYSQL_ROOT_PASSWORD=devrootpass
MYSQL_DATABASE=dashboard
MYSQL_USER=dashboard_user
MYSQL_PASSWORD=devpassword

# Host port to expose MySQL on (localhost:3306)
DB_PORT=3306
